body{
    background-color: rgb(230, 230, 230);
    height: 100%;
}
img{
    
    height: 190px
}
.title{
    text-align: center;
}
.navbar{
    background-color: #457B9D;
    
}
#Btnaccueil{
    background-color: #457B9D;
    height: 60px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0); /*par exemple*/
}
footer{
    /* background:#ccc; */
    /* position:absolute; */
    /* bottom:0;
    width:100%; */
}
